/* .class0.class1: both classes */
/* <div class="class1 class2"></div> */

/* .class0 .class1: hierarchy */
/* <div class="class0"> */
/*   <div class="class1"></div> */
/* </div> */

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.38);
  color: rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  margin: 0px;
  padding: 5px;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.38);
  padding: 6px 16px;
  border-radius: 8px;
}

input {
  font-size: 25px;
  border: 0px;
  width: 100%;
}

/* disable border of input when it's focused */
input:focus {
  border: 0px;
  outline: transparent;
}

/* change color of fieldset when input is focused */
fieldset:has(input:focus) {
  border: 1px solid blue;
}

/* remove border of input when it's invalid */
input:invalid {
  border: 0px;
}

/* change color of fieldset when input is invalid */
fieldset:has(input:invalid) {
  border: 1px solid red;
}

select {
  font-size: 25px;
  border: 0px;
  appearance: none;
  background: none;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content .camera {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

.content .inputs {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content .inputs div {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  align-items: center;
  justify-content: flex-end;
}

.content .inputs div input {
  /* text-align: end; */
  /* padding-right: 15px; */
}

.content .actions {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
}

/* disable arrow spinners */
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

/* .htmx-indicator { */
/*   display: none; */
/*   background: red; */
/* } */
/**/
/* .htmx-request { */
/*   background: blue; */
/* } */
/**/
/* .htmx-request .htmx-indicator { */
/*   display: inline; */
/*   background: green; */
/* } */
/**/
/* .htmx-request.htmx-indicator { */
/*   display: inline; */
/*   background: yellow; */
/* } */
/**/
/* .htmx-swapping { */
/*   background: cyan; */
/* } */
/**/
/* .htmx-added { */
/*   background: greenyellow; */
/*   border: 10px solid red; */
/* } */
/**/
/* .htmx-settling { */
/*   background: blueviolet; */
/* } */
